<!DOCTYPE html>
<html>
<head>
  <title>LeanEngine websocket demo</title>
</head>
<body>
<script>
  var url = 'ws://' + window.location.host + '/socket/echo';
  var ws = new WebSocket(url);
  ws.onmessage=function(e){
    console.log('_message');
    console.log(e.data);
  };
  ws.onerror=function(err){
    console.log('_error');
    console.log(err);
  };
  ws.onopen=function(){
    console.log('_connect');
    ws.send('data');
  };
  ws.onclose=function(){
    console.log('_close');
  };
 
  
 
</script>
</body>
</html>
